@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
@import "tailwindcss";

@keyframes fadeInUp {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

@layer base{ 
  html {
    font-family: var(--font-display);
    scroll-behavior: smooth;
    scroll-padding-top: 4rem; /* Adjust based on your fixed header height */
   
  }

  body{
    background-color: var(--color-background);
    overflow-x: hidden;
  }
}

.animate-fadeInUp {
  animation: fadeInUp 0.6s ease forwards;
}

:root {
  --font-body: "Tajawal", "Arial-rounded";
  --font-display: "Rubik", "Arial-rounded";
  --color-primary1: #2C459C ;
  --color-primary2: #EF4B29 ; 
  --color-secondary1: #F0706C ;
  --color-secondary2: #1CB1B1 ;
  --color-background: #F4F7FE ; 
  --border-color: #E5E7EB ;
}

html[dir="rtl"] {
  direction: rtl;
  text-align: right;
}
html[dir="ltr"] {
  direction: ltr;
  text-align: left;
}