@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
@import "tailwindcss";

@keyframes fadeInUp {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

*{  font-family: "Rubik", Arial-rounded;}


.animate-fadeInUp {
  animation: fadeInUp 0.6s ease forwards;
}

:root {
  --primary1-color: #2C459C; 
  --primary2-color: #EF4B29; 
  --secondary1-color: #F0706C;
  --secondary2-color: #1CB1B1; 
  --background-color: #F4F7FE;  
  --border-color: #E5E7EB; 
}
